*.*~
#java specific
*.class
*.jar
# without gradle-wrapper.jar our build will fail
!gradle/wrapper/gradle-wrapper.jar

#log specific
*.log

#Mac
**/.DS_Store

### Gradle ###
.gradle
**/build/
**/logs/
**/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr
/student_pavlo_kutsyn/documentation/
/student_pavlo_kutsyn/___forExp/
/project

student_andrei_larionov/v2/doc-generator-app/docs/proposals/*

/student_aleksandrs_anohins/documentation/xx_my_notes.txt

/amplicode.xml
